@import './globals.scss';

.modal {
  border-radius: 10px;
  max-height: 60%;
  display: flex;
  box-shadow: 0px 6px 12px 0px rgba(24, 39, 75, 0.12);
  padding: 25px;

  &__content {
    background-color: $primary-black;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeIn 200ms;
  }
}

@keyframes fadeIn {
  from {
    max-height: 0px;
  }
  to {
    max-height: 48px;
  }
}
